<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896371933321-df5r30k12h4t6mtfhle2nabe8gpt7chj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896371933321-df5r30k12h4t6mtfhle2nabe8gpt7chj</string>
	<key>API_KEY</key>
	<string>AIzaSyCLb7HL5adIvuhIUuMa00cf8NhaM40yGmo</string>
	<key>GCM_SENDER_ID</key>
	<string>896371933321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noshpeak.ReaderThon</string>
	<key>PROJECT_ID</key>
	<string>readerthon-cba25</string>
	<key>STORAGE_BUCKET</key>
	<string>readerthon-cba25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896371933321:ios:f37540e6c6a35a27998658</string>
</dict>
</plist>